{% extends 'tienda/base/base.html' %}
{% load static %}
{% block content %}

<!-- Hero section -->
<section class="hero-section">
	<div class="hero-slider owl-carousel">
		
		{% for c in carousel %}
		<div class="hs-item set-bg" data-setbg="{{c.imagen.url}}">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-7 text-white">
						<span>{{c.subtitulo}}</span>
						<h2>{{c.titulo}}</h2>
						<p>{{c.contenido}}</p>
						<!-- <a href="#" class="site-btn sb-line">DISCOVER</a>
						<a href="#" class="site-btn sb-white">Agregar al Carrito</a> -->
					</div>
				</div>
				<div class="offer-card text-white">
					<br><h5>PRECIO DESDE</h5><br>
					<h3>${{c.precio}}</h3><br>
					
				</div>
			</div>
		</div>
		{% endfor %}
			
		
	</div>
	<div class="container">
		<div class="slide-num-holder" id="snh-1"></div>
	</div>
</section>
<!-- Hero section end -->
    <!-- Features section -->
	<section class="features-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{% static 'tienda/img/icons/1.png' %}" alt="#">
						</div>
						<h2>Pagos rápidos y seguros</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{% static 'tienda/img/icons/2.png' %}" alt="#">
						</div>
						<h2>Productos de calidad</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{% static 'tienda/img/icons/3.png' %}" alt="#">
						</div>
						<h2>Retiros las 24 Hs</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Features section end -->
    <!-- letest product section -->
	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>ÚLTIMOS INGRESOS</h2>
			</div>
			<div class="product-slider owl-carousel">
				
				{% for product in productos %}
					
					<div class="product-item">
						<div class="pi-pic">
							
							
							{% for img in product.image_set.all %}
								
								{% if forloop.first %}
									<img src="{{img.image.url}}" alt="">
								{% endif %}
									
							{% endfor %}
															
							<div class="pi-links">
								<a href="{% url 'tienda:producto_detalle' product.pk %}" class="add-card"><i class="flaticon-bag"></i><span>VER</span></a>
								
							</div>
						</div>
						<div class="pi-text">
							
							
									<h6>${{product.precio_venta}}</h6>
								
							
							<p>{{product.title}} </p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- letest product section end -->

	<!-- Banner section -->
	<section class="banner-section">
		<div class="container">
			<div class="banner set-bg" data-setbg="{% static 'tienda/img/banner-bg.jpg' %}">
				<div class="tag-new">Nuevo</div>
				<span>Nuevos productos</span>
				<h2>Conoce los últimos productos</h2>
				<a href="#" class="site-btn">Ver ahora</a>
			</div>
		</div>
	</section>
	<!-- Banner section end  -->
{% endblock content %}
    