{% extends 'administracion/base/base.html' %}


{% block content %}
    <h3>{{title}}</h3>
    <hr>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="nombre">{{form.nombre.label}}</label>
          {{form.nombre}}
        </div>
        <div class="form-group">
            <label for="nombre">{{form.categoria.label}}</label>
            {{form.categoria}}
          </div>
          <div class="form-group form-check">
            {{form.activo}}
             <label class="form-check-label" for="activo">Activo</label>
         </div>
        <hr>  
        <button type="submit" class="btn btn-primary" >Guardar</button>
        <a href="{% url 'administracion:subcategorias' %}" class="btn btn-secondary">Volver a listado</a>
      </form>
{% endblock content %}
    