{% extends 'tienda/base/base.html' %}


{% block content %}
    <div class="container-fluid p-5">
        <h3>Formulario de registro</h3><br>
        <hr>
        <form method="post" class="px-3" autocomplete="off">
            {% csrf_token %}
            
            {% for field in form %}
                           
                <div class="form-group">
                    {{field.label_tag}}
                    {{field}}
                    
                    
                    {% if field.errors %}
                        <strong style="color:red;"> {{field.errors}} </strong>
                    {% endif %}
                        
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Registrarme</button>
        </form>
    </div>
{% endblock content %}
{% block js %}
    <script>
        $(function () {
            

            $("#fecha_nacimiento").datetimepicker({
                format: 'Y-m-d',
                timepicker:false
                
            });

            $( "form" ).submit(function( event ) {
            
                var now = new Date();
                var birthdate = new Date($("#fecha_nacimiento").val()); // Se Procede a calcular en base a la fecha
                var nowyear = now.getFullYear();
                var birthyear = birthdate.getFullYear();
                var age = nowyear - birthyear + 1;

                if(age < 18){
                    mensaje("Es menor de edad no se puede registrar","red")
                    event.preventDefault()
                    
                }
                return; 
                
            });
        
                
            
        });
    </script>
    <script>  
        $(document).ready(function () {  
              jQuery.datetimepicker.setLocale('es');  
        });  
      </script>  
       
{% endblock js %}